<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
    <!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/kolya.myalik/" class="btn-floating mx-1">
          <i class="fab fa-facebook-f"> </i>
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/flakeluck" class="btn-floating mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://vk.com/kmyalik1998" class="btn-floating btn-lg mx-1" type="button" role="button">
          <i class="fab fa-vk"> </i>
        </a>
      </li>
      <li class="list-inline-item">
          <a href="https://github.com/flakelucke/" class="btn-floating btn-lg mx-1" type="button" role="button">
            <i class="fab fa-github"></i>
          </a>
      </li>
      <li class="list-inline-item">
          <a href="https://www.instagram.com/myalikkolya/" class="btn-floating btn-lg mx-1" type="button" role="button">
            <i class="fa fa-instagram"></i>
          </a>
      </li>
    </ul> -->
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Itransition:
  </div>
</footer>