<table class="table table-sm mt-4">
    <tr>
        <th>Email</th>
        <th>IsBlocked</th>
    </tr>
    <tr *ngFor="let user of admins">
        <td><a [routerLink]="['/user', user.id]">{{user.email}}</a></td>
        <td><div class="d-flex flex-row">
          <p>{{user.isBlocked}}</p>
          <button class="btn btn-danger btn-sm block-btn" 
           (click)="blockAdmin(user.id)">Block</button>
        </div></td>
        <td class="pick-delete">
          <button class="btn btn-sm btn-outline-primary mr-3" (click)="pickUpAdmin(user.id)">Pick up</button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">
              Delete
          </button>
      </td>
    </tr>
  </table>
  <!-- <div class="d-flex flex-row">
    <app-pagination-admin></app-pagination-admin>
  </div> -->