<div *ngIf="tableMode; else create" class="d-flex flex-column ml-3 mt-3">
    <button class="btn btn-primary create-button" (click)="clearInstruction(); tableMode = false"
        style="width: 150px; margin: 0 auto">Create</button>
    <div *ngFor="let p of instructions" class="border-bottom mb-2 pb-3 inst-div" style="margin-left: 60px">
        <ng-template class="d-flex flex-row" [ngIf]="instruction?.instructionId != p.instructionId" [ngIfElse]="edit">
            <div>
                <h1 class="card-title" style="word-wrap: break-word"><a class="a_instr"
                        [routerLink]="['/detail', p.instructionId]">{{p.instructionName}}</a></h1>
                <p class="card-text" style="word-wrap: break-word">{{p.description}}</p>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-sm btn-primary mr-2 "
                    (click)="selectInstruction(p.instructionId); tableMode = false">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="deleteInstruction(p.instructionId)">Delete</button>
            </div>
        </ng-template>
    </div>
    <div class="d-flex flex-row">
        <app-pagination-admin></app-pagination-admin>
    </div>
</div>

<ng-template #edit>
    <td colspan="6">
        <app-instruction-editor></app-instruction-editor>
        <div class="text-center">
            <button class="btn btn-sm btn-primary mr-1" (click)="saveInstruction()">
                Save
            </button>
            <button class="btn btn-sm btn-info" (click)="clearInstruction()">
                Cancel
            </button>
        </div>
    </td>
</ng-template>
<ng-template #create>
    <app-instruction-editor></app-instruction-editor>
    <button class="btn btn-primary mr-1" (click)="saveInstruction()">
        Save
    </button>
    <button class="btn btn-info" (click)="clearInstruction()">
        Cancel
    </button>
</ng-template>