<div class=" d-flex flex-row justify-content-start m-4">
    <button class="btn btn-danger" (click)="deleteUser()">Delete myself</button>
</div>
<table class="table">
    <tr>
        <th>Email</th>
        <td>{{user?.email || 'No Data'}}</td>
    </tr>
    <tr>
        <th>Confirmed Email</th>
        <td>{{user?.emailConfirmed || 'No Data'}}</td>
    </tr>
    <tr>
        <th colspan="2" style="text-align: center">
            Instructions
        </th>
    </tr>
</table>
<app-instruction-admin [userId]="id"></app-instruction-admin>