<table class="table table-sm mt-4">
  <tr>
      <th>Email</th>
      <th>IsBlocked</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.email}}</td>
      <td>{{user.isBlocked}}</td>
      <td>
        <p *ngFor="let inst of user.instructions">
          InstName: {{inst.instructionName}}
        </p>
      </td>
      <td>
          <button class="btn btn-primary btn-sm" [routerLink]="['/user', user.id]">
              Details
          </button>
      </td>
      <td>
        <button class="btn btn-danger btn-sm"(click)="deleteUser(user.id)">
            Delete
        </button>
    </td>
  </tr>
</table>
<div class="d-flex flex-row">
  <app-pagination-admin></app-pagination-admin>
</div>