<table class="table table-sm mt-4">
  <tr>
    <th>Email</th>
    <th>IsBlocked</th>
  </tr>
  <tr *ngFor="let user of users">
    <td><a [routerLink]="['/user', user.id]">{{user.email}}</a></td>
    <td>
      <div class="d-flex flex-column">
        <p>{{user.isBlocked}}</p>
        <button class="btn btn-danger btn-sm" style="width: 60px;margin-top: -15px"
          (click)="blockUser(user.id)">Block</button>
      </div>
    </td>
    <td>
      <button class="btn btn-sm btn-outline-primary mr-3" (click)="giveAdmin(user.id)">Give admin</button>
      <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">
        Delete
      </button>
    </td>
  </tr>
</table>
<div class="d-flex flex-row">
  <app-pagination-admin></app-pagination-admin>
</div>