<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <ul class="navbar-nav mr-auto d-flex ">
    <li class="nav-item">
      <a class="navbar-brand" [routerLink]="['/table','?search=']">Home</a>
    </li>
    <li class="nav-item" *ngIf="isAdmin">
      <a class="navbar-brand" routerLink="/admin">Admin panel</a>
    </li>
    <li *ngIf="authenticated">
      <a class="navbar-brand" [routerLink]="['/user', this.repo.logUser?.id]">{{this.repo.logUser?.email}}</a>
    </li>
  </ul>
  <ng-template [ngIf]="!authenticated" [ngIfElse]="logout">
    <p class="mr-1" *ngIf="authenticated">this.repo.logUser?.email</p>
    <button class="btn btn-sm btn-outline-success" routerLink="/login">
      Login
    </button>
  </ng-template>
  <ng-template #logout>
    <button class="btn btn-sm btn-outline-success" (click)="authService.logout()">
      Log Out
    </button>
  </ng-template>
</nav>
<div class="topnav" id="myTopnav">
  <a [routerLink]="['/table','?search=']">Home</a>
  <a routerLink="/admin" *ngIf="isAdmin">Admin panel</a>
  <a [routerLink]="['/user', this.repo.logUser?.id]" *ngIf="authenticated">{{this.repo.logUser?.email}}</a>
  <a class="badge badge-info" routerLink="/login" *ngIf="!authenticated">
    Login
  </a>
  <a class="badge badge-info" (click)="authService.logout()" *ngIf="authenticated">
      Log Out 
  </a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()" *ngIf="authenticated">&#9776;</a>
</div>