<div class="row no-gutters mt-2 d-flex flex-column">
    <div class="admin-buttons d-flex flex-row justify-content-around">
        <button style="height: 48px;margin-top: 8px;margin-right: 5px; width: 24%" class=" btn btn-block btn-outline-info btn-lg overview-btn" routerLink="/admin" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            Overview
        </button>
        <button  style="margin-right: 5px; width: 24%" class=" btn btn-block btn-outline-info btn-lg " routerLink="/admin/instructions"
            routerLinkActive="active">Instructions</button>
        <button style="margin-right: 5px; width: 24%" class=" btn btn-block btn-outline-info btn-lg" routerLink="/admin/users"
            routerLinkActive="active">Users</button>
        <button style=" width: 24%" class="btn btn-block btn-outline-info btn-lg" routerLink="/admin/admins"
            routerLinkActive="active">Admins</button>
    </div>
    <div class="col p-2">
        <router-outlet></router-outlet>
    </div>
</div>