<div class="row no-gutters mt-2">
    <div class="col-3">
        <button class="btn btn-block btn-outline-info btn-sm" routerLink="/admin" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            Overview
        </button>
        <button class="btn btn-block btn-outline-info btn-sm" routerLink="/admin/instructions"
            routerLinkActive="active">Instructions</button>
        <button class="btn btn-block btn-outline-info btn-sm" routerLink="/admin/users"
            routerLinkActive="active">Users</button>
        <button class="btn btn-block btn-outline-info btn-sm" routerLink="/admin/admins"
            routerLinkActive="active">Admins</button>
    </div>
    <div class="col p-2">
        <router-outlet></router-outlet>
    </div>
</div>