<div class="form-group">
  <label>Name</label>
  <input class="form-control" [(ngModel)]="instruction.instructionName" />
</div>
<div class="form-group">
  <label>Description</label>
  <input class="form-control" [(ngModel)]="instruction.description" />
</div>
<div class="form-group">
  <label>Steps</label>
  <div>
    <ul class="list-group">
      <li *ngFor="let s of instruction.steps" class="list-group-item">
        <label>Step name</label>
        <input class="form-control" [(ngModel)]="s.stepName" />
        <label>Step description</label>
        <input class="form-control" [(ngModel)]="s.stepDescription" />
      </li>
    </ul>
  </div>
  <button class="btn btn-sm btn-primary" (click)="addStep()">
    Add Step
</button>
</div>